<!DOCTYPE html>
<html data-base-url="{{ app.request.baseUrl }}"
      data-guest-home-url="{{ path("welcome") }}"
      data-user-home-url="{{ path("todo_list") }}">
<head>
    <title>{% block title %}{% endblock %} &ndash; Done!</title>
    <link rel="stylesheet" href="{{ asset("bundles/omttodo/css/todo.css") }}" />
    <base href="{{ app.request.baseUrl }}" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header class="block">D-d-d-d-done!{% block header %}{% endblock  %}</header>

    <div id="message" class="block message block-outlined hidden -panel">
        <span class="-message-text"></span>
        <a href="#" class="message-close-button btn-link -panel-hide-button">close</a>
    </div>

    <a href="https://github.com/ohmytribe/done">
        <img style="position: fixed; top: 0; right: 0; border: 0;" src="{{ asset("bundles/omttodo/images/forkme_right_green_007200.png") }}" alt="Fork me on GitHub"></a>

    {%  block body %}
    {%  endblock %}
    <footer class="block block-light">Done! &ndash; a simple todo list management service.</footer>

    <script type="text/javascript" src="{{ asset("bundles/omttodo/js/requirejs/require.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/omttodo/js/jquery/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/omttodo/js/jquery/jquery.isloading.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/omttodo/js/pages/common.js") }}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
